.about {
    width: 100%;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about__text {
    width: 90vw;
    padding-bottom: 60px;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__text-description {
    margin-top: 20px;
}

.about__cards-icon {
    width: 75px;
}

.about__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

.about__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
}

.about__card-title {
    margin: 25px 0 15px 0;
}

@media screen and (max-width: 600px) {
    .about__cards {
        flex-direction: column;
    }
    
    .about__card:not(:last-child) {
        margin-bottom: 20px;
    }
}