.header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__top {
    width: 100%;
    max-width: 100%;
    height: 120px;
    padding: 0 14vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    position: relative;
    background-color: var(--color-white);
    z-index: 500;

    position: fixed;

    transition: all linear 0.2s;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    

}

.header__list-item {
    display: flex;
    align-items: center;
    padding: 0 25px;
    transition: 0.2s linear all;
    cursor: pointer;
    height: 100%;
}

.header__list-item:hover {
    background-color: black;
    color: white;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__search {
    margin-left: 10px;
    padding-top: 5px;

    width: 25px;
    height: 25px;
}

.header__search-logo {
    width: 25px;
    
}

.header__bottom {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-image: url("../image/intro-background-image.png");
    background-size: cover;
    background-position: center;
    
    color: white;
}

.header__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
    position: relative;
}

.header__button:not(:last-child) {
    margin-right: 10px;
}

.header__anchor {
    position: absolute;
    width: 40px;
    transform: translateY(200px);
    cursor: pointer;
}

.header__text-title {
    font-size: calc(12px + 3.8vw);
}

.header__text-description {
    margin-top: 5px;
    font-size: calc(8px + 1.3vw);
}



@media screen and (max-width: 1250px) {
    .header__top {
        flex-direction: column;
        padding: 0;
        height: fit-content;
        justify-content: initial;
        transform: translate(-100vw);
        width: 150px;
        height: 100%;
    }

    .header__logo {
        align-self: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .header__nav {
        flex-direction: column-reverse;
    }

    .header__list {
        /* display: none; */
        flex-direction: column;
        width: 100%;
    }

    .header__list-item {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 0;
        font-size: 1.7rem;
    }

    .header__search {
        padding: 0;
        margin: 0;

        margin-bottom: 20px;
    }

    .header__top_active {
        transform: translate(0);
    }
}

@media screen and (max-width: 400px) {
    .header__buttons {
        flex-direction: column;
    }

    .header__button {
        margin-right: 0;
        margin-bottom: 20px;

        width: 150px;
    }
}