@import url(vars.css);
@import url(text.css);
@import url(button.css);

@import url(slider.css);

@import url(header.css);
@import url(about.css);

@import url(services/services.css);
@import url(services/services-cards.css);

@import url(latest-works/latest-works.css);
@import url(latest-works/latest-works-cards.css);

@import url(pricing-plan/pricing-plan.css);
@import url(pricing-plan/pricing-plan-cards.css);

@import url(team/team.css);
@import url(team/team-card.css);
@import url(team/team-slider.css);

@import url(blog/blog.css);
@import url(blog/blog-seo.css);

@import url(contact/contact.css);
@import url(contact/contact-cards.css);
@import url(contact/contact-form.css);

@import url(footer.css);

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    
    width: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: calc(12px + 0.3vw);
}