.services__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px;

    width: 250px;

    background-color: var(--color-white);
    
    transition: 0.2s linear all;
}

.services__card-image {
    width: 50px;
}

.services__card:hover {
    background-color: var(--color-green);

    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);

    color: var(--color-white);
}

.services__card:hover .services__card-image {
    filter: invert(1);
}

.services__card-title {
    margin: 15px 0;
}

.services__card-description {
    margin-bottom: 50px;
}