.pricing-plan__card {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    max-width: 400px;
    min-width: 250px;
    background-color: var(--color-white);
    z-index: 0;

    padding: 40px 15px;

    transition: 0.2s linear all;
}

.pricing-plan__card::before {
    content: "";

    display: block;
    position: absolute;
    left: -15px;
    top: -75px;
    transform: rotate(-5deg);
    z-index: -1;

    width: 200%;
    height: 250px;

    background-color: var(--color-dark-blue);
}

.pricing-plan__card:hover {
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}

.pricing-plan__card-text-title {
    color: var(--color-white);
}

.pricing-plan__card-text-price {
    display: flex;
    color: var(--color-white);
}

.pricing-plan__card-text-dollar {
    align-self: flex-start;
}

.pricing-plan__card-text-value {
    align-self: center;
    line-height: 80%;
}

.pricing-plan__card-text-month {
    align-self: flex-end;
}

.pricing-plan__card-list {
    list-style: none;
    padding: 60px 0;
}

.pricing-plan__list-item {
    box-sizing: border-box;
    padding: 15px 0px;

    border-bottom: 1px solid var(--color-gray);
}

@media screen and (max-width: 1300px) {
    .pricing-plan__card {
        width: 300px;
        justify-self: center;
    }
}

@media screen and (max-width: 1100px) {
    .pricing-plan__card:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 400px) {
    .pricing-plan__card {
        width: 250px;
    }
}