.pricing-plan {
    width: 100%;
    box-sizing: border-box;

    background-color: var(--color-light-gray);
    
    padding: 60px 0;
}

.pricing-plan__text {
    margin-bottom: 60px;
}

.pricing-plan__text-title {
    padding-bottom: 40px;
}

.pricing-plan__cards {
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-column-gap: 20px;
    padding: 25px 0px;

    justify-content: center;
    align-items: center;
}