.team__slider-card-image {
    width: 350px;
    height: 300px;
    object-fit: cover;

    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 5%;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.team__slider-button-icon {
    width: 35px;
}

.team__slider-card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team__slider-card-button:not(:last-child) {
    margin-right: 20px;
}

.team__slider-card-button {
    width: 45px;
    height: 45px;
    padding: 0;

    border-radius: 15%;

    cursor: pointer;

    background-color: var(--color-light-gray);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition: 0.2s all linear;
}

.team__slider-card-button:hover {
    background-color: var(--color-dark-blue);
}

.team__slider-card-text {
    margin: 20px 0;
}

@media screen and (max-width: 1100px) {
    .team__slider-card-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .team__slider-card-button {
        width: 25px;
        height: 25px;
    }

    .team__slider-card-button:not(:last-child) {
        margin-right: 5px;
    }

    .team__slider-button-icon {
        width: 15px;
    }

    .team__slider-card-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .team__slider-card:not(:last-child) {
        margin-bottom: 20px;
    }
}