.blog__seo-card {
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-start;
}

.blog__seo-card:nth-child(odd) {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.blog__seo-card:nth-child(odd) .blog__seo-card-text {
    padding-left: 0;
}

.blog__seo-card-image {
    width: 40vw;
    height: 150%;
    object-fit: cover;

    display: block;
}

.blog__seo-card-image-cont {
    height: 100%;
    overflow: hidden;
}

.blog__seo-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 40px 0 0 40px;
}

.blog__seo-card-text div:not(:last-child) {
    margin-bottom: 5px;
}

.blog__seo-card-title {
    text-decoration: none;
}

.blog__seo-card-description {
    width: 500px;
}

.blog__seo-card-meta {
    display: flex;
    flex-direction: row;
}

.blog__seo-card-date {
    display: flex;
    flex-direction: row;

    height: 20px;

    margin-right: 10px;
}

.blog__seo-card-date-icon {
    width: 10px;
    margin-right: 10px;
}

.blog__seo-card-date-text {
    margin: 0;
}

.blog__seo-card-link {
    display: flex;
    flex-direction: row;

    height: 20px;
}

.blog__seo-card-link-icon {
    width: 10px;
    margin-right: 10px;
}

.blog__seo-card-link-text {
    margin: 0;
}