.blog {
    width: 100%;
    box-sizing: border-box;

    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-light-green);

}

.blog__text {
    padding-bottom: 100px;
    width: 90vw;
}

.blog__text-title {
    padding-bottom: 40px;
}

.blog__button {
    width: fit-content;

    margin-top: 100px;
}

.blog__seo {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}