.blog {
    width: 100%;
    box-sizing: border-box;

    padding: 100px 5%;

    display: flex;
    flex-direction: column;

    background-color: var(--color-light-green);

}

.blog__text {
    padding-bottom: 100px;
}

.blog__text-title {
    padding-bottom: 40px;
}